<ion-header class="ion-no-border">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
  </div>

  <form id="form" (ngSubmit)="login(form);" #form="ngForm">
    <ion-item class="ion-margin-bottom" color="light">
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="auth.username" name="username" required></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" type="submit">Login</ion-button>
  </form>
  
</ion-content>